<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="calendar.css" />
</head>

<body>
  <nav class="navbar">
    <h1>ScheduleMe</h1>
    <ul>
      <li><a href="/account">My Account</a>
        <ul>
          <li><a href="/account">Account Information</a></li>
          <li><a href="/logout" onclick="return confirm('Are you sure you want to log out?')">Log out</a>
            <!-- Clears current User session, redirects User to login page-->
          </li>
        </ul>
      </li>
      <li><a href="">Requests</a></li>
      <li><a href="">Contact Employer</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="left">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">december 2015</div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
        <div class="goto-today">
          <div class="goto">
            <input type="text" placeholder="MM/YYYY" class="date-input" />
            <button class="goto-btn">Go</button>
          </div>
          <button class="today-btn">Today</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="today-date">
        <div class="event-day">wed</div>
        <div class="event-date">12th december 2022</div>
      </div>
      <div class="events"></div>
      <% if (isAdmin) { %> <!-- Start of Admin view-->
        <div class="add-event-wrapper">
          <div class="add-event-header">
            <div class="title">Assign a Shift</div>
            <i class="fas fa-times close"></i>
          </div>
          <div class="add-event-body">
            <select name="employee" class="employee-select">
              <!-- Restricts employees displayed in employee dropdown to company associated with User's account-->
              <option value="">Select an employee</option>
              <% allUsers.forEach(user=> { %>
                <option value="<%= user.last + ', ' + user.first %>">
                  <%= user.last + ', ' + user.first %>
                </option>
                <% }); %>
            </select>
            <select name="" class="event-role"> <!-- Drop down for assigning role for shift-->
              <option value="">Select a role</option>
              <option value="Cashier">Cashier</option>
              <option value="Footwear">Footwear</option>
              <option value="Apparel">Apparel</option>
              <option value="Stock">Stock</option>
              <option value="Team Lead">Team Lead</option>
            </select>
            <div class="add-event-input">
              <select name="startTimes" class="event-time-from"> <!-- Drop down for shift start time-->
                <option value="">Select a start time</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="01:00">1:00</option>
                <option value="01:30">1:30</option>
                <option value="02:00">2:00</option>
                <option value="02:30">2:30</option>
                <option value="03:00">3:00</option>
                <option value="03:30">3:30</option>
                <option value="04:00">4:00</option>
                <option value="04:30">4:30</option>
                <option value="05:00">5:00</option>
                <option value="05:30">5:30</option>
                <option value="06:00">6:00</option>
                <option value="06:30">6:30</option>
                <option value="07:00">7:00</option>
                <option value="07:30">7:30</option>
                <option value="08:00">8:00</option>
                <option value="08:30">8:30</option>
                <option value="09:00">9:00</option>
                <option value="09:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
              </select>
              <select name="startPeriod" class="event-period-from">
                <!-- Drop down for AM/PM selection for shift start time -->
                <option value="">Select AM/PM</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
            <div class="add-event-input">
              <select name="endTimes" class="event-time-to"> <!-- Drop down for shift end time -->
                <option value="">Select an end time</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="01:00">1:00</option>
                <option value="01:30">1:30</option>
                <option value="02:00">2:00</option>
                <option value="02:30">2:30</option>
                <option value="03:00">3:00</option>
                <option value="03:30">3:30</option>
                <option value="04:00">4:00</option>
                <option value="04:30">4:30</option>
                <option value="05:00">5:00</option>
                <option value="05:30">5:30</option>
                <option value="06:00">6:00</option>
                <option value="06:30">6:30</option>
                <option value="07:00">7:00</option>
                <option value="07:30">7:30</option>
                <option value="08:00">8:00</option>
                <option value="08:30">8:30</option>
                <option value="09:00">9:00</option>
                <option value="09:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
              </select>
              <select name="endPeriod" class="event-period-to"> <!-- Drop down for AM/PM selection for shift end time-->
                <option value="">Select AM/PM</option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
          <div class="add-event-footer">
            <button class="add-event-btn">Assign</button>
          </div>
        </div>
    </div>
    <button class="add-event">
      <i class="fas fa-plus"></i>
    </button>
    <% } %> <!-- End of Admin view -->
  </div>
  <script src="script.js"></script>
</body>

</html>