@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-clr: #3f6fa7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373c4f;
}

.userAccount {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  box-shadow: 2px 2px 5px 2px #8888;
  background-color: white;
}

.userAccount h1 {
  font-size: 36px;
  text-align: justify;
  font-family: Poppins, sans-serif;
  color: white;
}

.userAccount h2 {
  font-size: 36px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #336a7d;
}

.name-inputs input {
  display: inline-block; 
  width: 49%; 
  margin-right: 0px;
}

input {
  padding: 10px;
  font-family: Poppins, sans-serif;
  color:#a5a5a5;
  width: 99.5%;
  font-size: 20px;
  margin: 4px 2px;
  border: none;
  border-bottom: 2px solid #7fadb9;
}

input[type=submit] {
  font-family: Poppins, sans-serif;
  text-align: center;
  width: 99.5%;
  background-color: #7fadb9;
  border: none;
  color: white;
  padding: 20px 32px;
  margin: 10px 2px;
  border-radius: 10px;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  margin-left: 396px;
}
.checkbox-container label {
  margin-top: 9.5px;
  margin-left: 7px;
  align-self: flex-start; /* Align label with checkbox */
  color: #336a7d;
  font-weight: 100;
}

.already-registered-btn {
  color:#336a7d;
}